WCF Demo/WCFDemosSoln/UsingShapeWCFService/Service References/ServiceReference1/ShapeService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="AreaOfCircle">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="radius" type="xs:float" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AreaOfCircleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AreaOfCircleResult" type="xs:float" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AreaOfRectangle">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="length" type="xs:float" />
        <xs:element minOccurs="0" name="breadth" type="xs:float" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AreaOfRectangleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AreaOfRectangleResult" type="xs:float" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>